<section class="px-3 mx-2">

    <!-- lo movemos al padre para el ejemplo de comunicación -->
    <!-- 
    <div class="row py-2">        
        <div class="col-auto"><b>Cliente Seleccionado</b></div>
        <div class="col">{{empresaSeleccionada?.codigo | uppercase }} - {{ empresaSeleccionada?.nombre | uppercase}}</div>
        <div class="col-2 text-end">
            <label>
                <input type="checkbox" class="mx-1"  name="checkBajas" #checkBajas value=true [(ngModel)]="filtrarBajas">Mostrar Bajas
            </label>
        </div>
    </div> 
    -->

    <table class="tabla-empresas">
    <thead>
        <tr>
        <th>ID</th>            
        <th>Código</th>
        <th>Nombre</th>
        <th>NIF</th>
        <th>Estado</th>
        <th>Calle</th>
        <th>Número</th>
        <th>Provincia</th>
        <th>Acciones</th>
        </tr>
    </thead>

    <tbody>
        <!-- @for (empresa of servicioCientes.getListaEmpresas(); track $index) { -->
        @for (empresa of listaEmpresas; track $index) {
            @if ((!filtrarBajas()) || (filtrarBajas() && empresa.estado!=estadoCliente.Baja)) {
            <!-- Usando [ngClass]-->    
            <tr (click)="seleccionarEmpresa(empresa)">
                <td>{{ empresa.id }}</td>
                <td>{{ empresa.codigo }}</td>
                <td>{{ empresa.nombre }}</td>
                <td>{{ empresa.nif }}</td>
                <!-- con enum necesitamos crear una propiedad en el modelo para manejar las clases CSS (en este ejemplo estadoCliente:EstadoCliente)-->
                <td [ngClass]="{'cliente-activo': empresa.estado === estadoCliente.Activo, 'cliente-inactivo': empresa.estado === estadoCliente.Inactivo, 'cliente-baja': empresa.estado === estadoCliente.Baja}">
                    {{ empresa.estado }}
                </td>
                <td>{{ empresa.direccion.calle }}</td>
                <td>{{ empresa.direccion.numero }}</td>
                <td>{{ empresa.direccion.provincia }}</td>

                <!-- botones de acciones : Uso de [disabled] para activar/desactivar el boton -->
                <td class="acciones">
                    <!-- Marcar como Activa -->
                    <button
                        type="button"
                        class="btn btn-outline-success btn-sm mx-1"
                        title="Activar Empresa"
                        [disabled]="empresa.estado==estadoCliente.Activo"
                        (click)="activarEmpresa(empresa); $event.stopPropagation()">
                        <i class="bi bi-person-down"></i>
                    </button>                                             
                    <!-- Marcar como Inactiva -->
                    <button
                        type="button"
                        class="btn btn-outline-warning btn-sm mx-1"
                        title="Marcar como inactiva"
                        [disabled]="empresa.estado==estadoCliente.Inactivo"
                        (click)="desactivarEmpresa(empresa); $event.stopPropagation()">
                        <i class="bi bi-person-up"></i>
                    </button>
                    <!-- Dar de baja -->
                    <button
                        type="button"
                        class="btn btn-outline-danger btn-sm mx-1"
                        title="Dar de baja"
                        [disabled]="empresa.estado==estadoCliente.Baja"
                        (click)="cambiarEstado(empresa,estadoCliente.Baja);">
                        <i class="bi bi-arrow-down-square"></i>
                    </button>                
                    <!-- Eliminar -->
                    <button
                        type="button"
                        class="btn btn-danger btn-sm mx-1"
                        title="Eliminar registro"
                        [disabled]="empresa.estado!=estadoCliente.Baja"
                        (click)="eliminarEmpresa(empresa); $event.stopPropagation()">
                        <i class="bi bi-trash"></i>
                    </button>
                </td>  
            
            </tr>        
                
            } <!-- if -->
        }  <!-- for -->
    </tbody>

    </table>   
</section>
