/* Importacion libreria de iconos de Bootstrap */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css");

/* You can add global styles to this file, and also import other style files */

/* css para gestion de la altura de los componentes y el footer */

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

router-outlet + * {
    display: flex;
    flex-direction: column;
    flex: 1;
}


.cliente-activo {
    color: green;
}

.cliente-inactivo {
    color: orange;
}

.cliente-baja {
    color: red;
}